0. Inbox/*
1. Project/*
2. Area/Daily Plan/*
2. Area/Weekly/*
2. Area/Insights/*
2. Area/Journal/*
3. Resource/*
4. Archive/*
memo.md

# exclude obsidian workspace settings
.obsidian/workspace.json
.obsidian/workspace 2.json
.obsidian/workspace-mobile.json

# Exclude Untitled Notes
Untitled*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
